@import "bulma";


.Profile_img{
    background-color: grey;
    border-radius: 100%;
    height: 100px;
    width:100px;
    margin:auto;

}

.headcol{
	background-color:grey;
	margin: 0px 2%;
	margin-top: 1%;
}
.fa-camera{
   color: grey;
}

.butt{    

	

}