
<section class="hero is-primary">
<nav class="nav">

<div class="nav-left">
    <a class="nav-item" href="/#/">
        <h2 class="title is-2">Insta</h2>
    </a>
  </div>


	<div class="nav-right nav-menu">


    <span class="nav-item">
      <a class="butt" href="/#/newPost">
        <i class="fa fa-camera" aria-hidden="true"></i>

      </a>
  
    </span>
  </div>

</nav>


  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="Profile_img "></div>
     <div class="columns">
  <div class="column headcol">First column</div>
  <div class="column headcol">Second column</div>
  <div class="column headcol">Third column</div>
  <div class="column headcol">Fourth column</div>
</div>
    </div>
  </div>
</section>


<a href="/#/">Home</a>
<a href="/#/newPost"> New Post</a>
<div class="wrapper" ui-view></div>