
<section class="hero is-primary mar">
<nav class="nav">

<div class="nav-left">
    <a class="nav-item" href="/#/">
        <h2 class="title is-2">Insta-Spam</h2>
    </a>
  </div>


	<div class="nav-right nav-menu">


    <span class="nav-item">
      <a class="button is-info" href="/#/newPost">
        New Post  <i class="fa fa-camera" aria-hidden="true"></i>

      </a>
  
    </span>
  </div>

</nav>


  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="Profile_img ">
      	<img class="Pro_img" src="https://avatars3.githubusercontent.com/u/19732481?v=3&s=460">
      </div>
     <div class="columns">

</div>
    </div>
  </div>
</section>



<div class="wrapper" ui-view></div>